@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "./null.css";

body{
    position: relative;
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
.root{
    display: flex;
    justify-content: center;
    overflow-x:auto;
    min-height: 100%;
}