.Link{
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    padding: 6px;
    margin-left: 15px;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    color:#ffffff ;
    text-decoration: none;
    font-size: 25px;
    transition: .3s;
}
.Link:hover{
    background-color: rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    color:rgb(0, 0, 0) ;
}
