.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    border-bottom: 1px solid #fff;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 6px;
    margin-right: 20px;
    border: 2px solid #fff;
    border-top: 0;
    border-bottom: 0;
    background-color: black;
    color:#fff ;
    font-size: 24px;
    transition: .3s;
}
.button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0) ;
}

.logo{
    background-color: #fff;
    border-radius: 7px;
    margin-left: 20px;
}

.link_list{
    /* height: 100% */
    display: flex;
}